.popup {
  position: absolute;
  text-align: center;
}

.popup-content-wrapper {
  // padding: 1px;
  text-align: center;
  border-radius: 5px;
}

.popup-content {
  // margin: 13px 19px;
  line-height: 1.4;
}

// .popup-content p {
//   margin: 18px 0;
// }

.popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-content-wrapper,
.popup-tip {
  background: rgba(255, 255, 255, 0.5);

  /*box-shadow: 0 3px 14px rgba(0,0,0,0.4);*/
}

a.popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.popup-close-button:hover {
  color: #999;
}

.popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.popup-content-wrapper {
  zoom: 1;
}

.popup-tip {
  /*width: 24px;*/
  /*margin: -2px auto;*/

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.popup-tip-container {
  margin-top: -1px;
}

.popup-content-wrapper,
.leaflet-popup-tip {
  border: 1px solid #999;
}


/* <div style="device-parameter-container">
<div class="divice-title"></div>
<div class="device-body">
  <div class="parameter-item">
    <span class="parameter-label"></span>
    <span class="parameter-value"></span>
    <span class="parameter-status"></span>
  </div>
</div>
<div class="divice-timestamp"></div>
<div class="divice-description"></div>
</div>
</div> */
.base-title {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  // border-radius: 5px;
  background-color: #414141;
  padding: 12px 35px;
}

.special-device-title {
  margin: 0;
  padding: 12px 35px;

}

.device-parameter-container {
  font-size: 13px;
  text-align: center;

  .device-title {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    // border-bottom: 1px solid #666;
    // padding-bottom: 10px;
  }

  .device-body {
    // max-height: 250px;
    // overflow-y: auto;
    padding: 5px 40px;
    background: rgba(246, 246, 246, 0.7);

    .parameter-item {

      height: 30px;
      line-height: 30px;

      // border-bottom: 1px solid #666;
      .parameter-label {
        display: inline-block;
        width: 170px;
        text-align: left;
      }

      .parameter-value {
        display: inline-block;
        width: 100px;
      }

      .parameter-status {
        width: 130px;
        color: #5AE768;
        display: inline-block;
        text-align: right;
      }

      .parameter-status.high {
        color: red;
      }

      .parameter-status.low {
        color: plum;
      }
    }
  }

  .device-timestamp {
    margin-top: 10px;
    padding: 0 40px;
    overflow: hidden;

    .device-timestamp-label {
      float: left;
      text-align: left;
    }

    .device-timestamp-value {
      float: right;
      text-align: right;
    }
  }

  .device-description {
    margin: 10px 0 20px;
    padding: 0 40px;
    text-align: left;
  }

  .device-description.alarm {
    color: red;
  }
}
